<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT POST</title>
</head>
<body>
    <div id="container">
        <h1>Edit Post</h1>
        
        <form action="/admin/post/edit/<%=grabbyidforedit._id%>" method="post">
            <input type="text" name="title" id="title" value="<%=grabbyidforedit.title%>">Title <br>
            <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Write your blogpost here"><%= grabbyidforedit.desc %></textarea><br>
            <!-- <input type="datetime-local" name="date" id="date" >Date&Time<br> -->
            <input type="submit" value="submit">
            
        
        </form>
    </div>
    
</body>
</html>