<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>

<body>
    <div id="logincontainer">
        <h2 id="flashmessage">LOG IN</h2>
        <% if (messages.error){ %>
        <%= messages.error%>
        <% }%>
        <form action="/admin/login" method="post">
            <div>
                <label for="email">Email-Id :</label>
                <input type="email" name="email" id="email" placeholder="Your Email-Id" required>
            </div>

            <div>
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" placeholder="Your Password" required>
            </div>
            <input type="submit" value="Log In">

        </form>
    </div>

</body>

</html>