<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div id="logincontainer">
        <h2>SIGN UP</h2>
        <form action="/register" method="post">
            <div>
                <label for="username">Username :</label>
                <input type="text" name="username" id="username" placeholder="Your username" required>
            </div>
            <div>
                <label for="email">Email-Id :</label>
                <input type="email" name="email" id="email" placeholder="Your Email-Id" required>
            </div>

            <div>
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" placeholder="Your Password" required>
            </div>
            <input type="submit" value="Sign Up">

        </form>
    </div>

</body>

</html>