<!-- check -->
<h2>Comment Section</h2>
<ul>
    <%grabbyid.comment.forEach(function(disp){%>
        <div id="container">
        <div><%=disp.username%></div>
        <div><%=disp.time.toLocaleString()%></div>
        <div><%=disp.cmnt%></div>
    </div>
        

    <%})%>
</ul>
