<!-- check -->
<h2>Comment Section</h2>
<ul>
    <% if(grabbyid.comment.length<1){ %>
    <p>Be the first one to comment.</p>
    <%}%>
    <%grabbyid.comment.forEach(function(disp){%>
        <div id="container">
        <div><%=disp.username%></div>
        <div><%=disp.time.toLocaleString()%></div>
        <div><%=disp.cmnt%></div>
    </div>
        

    <%})%>
</ul>
