<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <div id="container">
        <h1>All the posts</h1>
        <ul>
            <% if(all_post.length<1){ %>
                <p>Sorry,There aren't any Posts to Display.</p>
                <%}%>
            <%all_post.forEach(function(post){%>
               <div class="postcontainer">
                <h3><%=post.title%></h3>
                <div><%=post.date.toLocaleString()%></div>
                <div><%=post.snippet%></div>
                <button id="readmore" data=<%=post._id%>>read more</button>
            
               </div>

            <%})%>
        </ul>
    </div>
    <script>
        document.getElementById('readmore').addEventListener('click',(e)=>{
        //    console.log(e.target.getAttribute('data'))
            document.location.href=`http://localhost:5000/user/post/${e.target.getAttribute('data')}`
        })
    </script>

</body>

</html>